# Ignore node_modules and build artifacts
**/node_modules/
**/dist/
**/build/

# Ignore OS and IDE files
.DS_Store
*.log

# Don't ignore these project folders
!frontend/
!backend/
!db/
!borrowbuddy.sql
